/* Navbar */
nav {
  margin-bottom: 0 !important;
  height: 51px;
}

nav * {
  color: #fff !important;
  font-weight: 600;
  font-size: 13px;
  float: left;
  max-height: 50px;
}

.container {
  width: 100% !important;
  border-top: 1px solid #b6b4b6;
}

.navbar-brand, .navbar-brand:hover, .navbar-brand:focus {
  background: #FF0500 !important;
  font-size: 40px !important;
}

#navbar-right li {
  border-left: 1px solid #333333;
}

#map {
  height: 50px;
}

#sign-in {
  box-sizing: border-box;
}

#sign-in a {
  border-bottom: 3px solid red;
}

/* Main Articles */
body {
  padding-top: 51px;
  font-family: 'Source Sans Pro', sans-serif !important;
  color: #181818;
}

#main {
  border-top: 1px solid #fff;
}

#hero {
  border-bottom: 4px solid red;
}

#headlines h3 {
  color: red;
}

#headlines ul {
  list-style: none;
  padding-left: 0;
  padding-right: 16px;
  font-size: 16px;
  font-weight: bold;
}

#headlines ul li::before {
  color: red;
  content: "\25FE";
  padding-right: 10px;
}

#see-all {
  font-size: 16px;
  width: 80%;
  position: absolute;
  left: 5%;
}

.article {
  text-align: center;
}

.article img {
  width: 100%;
}

.article h3:first-of-type {
  color: red;
  font-weight: bold;
  margin-top: 12px;
  margin-bottom: 4px;
}

.article h1 {
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 6px;
  color: #000;
}

.article h3 {
  margin-top: 0;
  color: #3C3C3C;
}

.article ul {
  list-style: none;
  padding-left: 0;
  padding-right: 16px;
  font-size: 16px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 16px;
}

.article ul li::before {
  color: #00b7ff;
  content: "\25FE";
  padding-right: 10px;
}

#med-article {
  border-top: 1px solid #e3e3e3;
  padding-top: 16px;
  padding-bottom: 24px;
}

.medium h3:first-of-type, .medium ul li {
  font-size: 14px;
}

.medium h1 {
  font-size: 22px;
}

.medium h3 {
  font-size: 18px;
}

#small-articles {
  border-top: 1px solid #e3e3e3;
  height: 430px;
}

#small-articles-cont div {
  border-top: 1px solid #e3e3e3;
}

#small-articles-cont {
  border-bottom: 1px solid #e3e3e3;
  height: 260px;
}

#small-articles .small:nth-of-type(-n+2), #small-articles-cont .small:nth-of-type(-n+2) {
  border-right: 1px solid #e3e3e3;
}

.small img, .small h3:first-of-type {
  padding-top: 18px;
}

.small {
  height: 100%;
}

.small h3:first-of-type {
  font-size: 16px;
}

.small h1 {
  font-size: 22px;
  padding-bottom: 10px;
}

.small h3 {
  font-size: 18px;
}

.red-bottom-border {
  border-bottom: 3px solid red;
  height: 24px;
}

#in-the-mag {
  padding-top: 30px;
}

#in-mag-heading {
  color: red;
  font-size: 20px;
  text-align: center;
}

#in-mag-headlines div:nth-of-type(n-3) {
  border-right: 1px solid #e3e3e3;
}

#in-mag-headlines div img {
  padding-top: 0;
}

#in-mag-headlines {
  padding-top: 18px;
}
